@functions{
    // werkt niet
    public static class CRUD {
        public static void doSimpleIdUpdate(String table, String column, String value, String idName, int id) {
            var db = Database.Open(App.Database);
            db.Execute("UPDATE @0 SET @1 = @2 WHERE @3 = @4", table, column, value, idName, id);
            db.Close();
        }
    }

    // geeft een string array terug van een string gesplit op lijnen
    public static string[] SplitLeerlingen(string leerlingInvoer)
    {
        string[] leerlingen = leerlingInvoer.Split(new string[] { Environment.NewLine }, StringSplitOptions.None);
        return leerlingen;
    }
    
    // geeft een string array terug van een string gesplitst op leerling argumenten
    public static string[] SplitLeerling(string leerling)
    {
        char[] splitter = {'|'};
        string[] leerlingDetails = leerling.Split(splitter);
        return leerlingDetails;
    }

    // verzend een mail voor account creatie
    public static void AccountMail(string userName, string password)
    {
        var onderwerp = "Nieuw account keuzecarrousel";
        var inhoud = "Hierbij is er een account voor je aangemaakt op <a href=\"https://carrouselkeuze.csg-comenius.nl/User_Management/Login\">www.carrouselkeuze.csg-comenius.nl</a><br><br>Je gebruikersnaam is: " + userName + "<br>Je wachtwoord is: " + password + ".";

        WebMail.Send(to: userName,
        subject: onderwerp,
        body: inhoud);
    }
}