@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "E-Mail bevestiging";    

    var customerName = Request["onderwerp"];
    var customerEmail = Request["ontvanger"]; 
    var customerRequest = Request["inhoud"];
    var errorMessage = "";
    var debuggingFlag = true;
    try {
        // Initialize WebMail helper
        WebMail.SmtpServer = "127.0.0.1";
        WebMail.SmtpPort = 25;
        WebMail.UserName = "profielkeuze@csg-comenius.nl";
        WebMail.EnableSsl = false;
        WebMail.Password = "Blaatschaap10";
        WebMail.From = "user@domain.com";
        /* Commenius Gegevens
            smtp.Host = "ex2013.csg-comenius.nl";
            smtp.Port = 578;
            Username  = "profielkeuze@csg-comenius.nl";
            Password  = "Blaatschaap10";

        */
        
        // Send email
        WebMail.Send(to: customerEmail,
            subject: "Help request from - " + customerName,
            body: customerRequest
        );
        WebMail.Send(to: "amirnicolai91@gmail.com",
            subject: "Help request from - " + customerName,
            body: customerRequest
        );
    }
    catch (Exception ex ) {
        errorMessage = ex.Message;
    }
}
<!DOCTYPE html>
<html>
<head>
  <title>Request for Assistance</title>
</head>
<body>
  <p>Another one has been send <b>@customerName</b>.</p>
    @if(errorMessage == ""){
      <p>An e-mail has been send</p>
      <p><b>@customerRequest</b></p>
    }
    else{
        <p><b>The email was <em>not</em> sent.</b></p>
        <p>Critical Error
        </p>
        if(debuggingFlag){
            <p>The following error was reported:</p>
            <p><em>@errorMessage</em></p>
        }
    }
</body>
</html>

