@{
    Layout = "~/_Layout.cshtml";
    // Connectie Database
}

        <p> <a href="~/Decaan/Mail/MailToevoegen.cshtml">
            <span class="glyphicon glyphicon-pencil"></span> Nieuwe Mail
            </a>
        </p>