@{
    Layout = "~/_Layout.cshtml";
    
    var onderwerp = "";
    var inhoud = "";
    var mailId = "";

    if(!IsPost){
        if(!Request.QueryString["MailId"].IsEmpty() && Request.QueryString["MailId"].IsInt()) {
            mailId = Request.QueryString["MailId"];
            var db = Database.Open("ComeniusCarrousel");
            var dbCommand = "SELECT * FROM Mail WHERE MailId = @0";
            var row = db.QuerySingle(dbCommand, mailId);

            if(row != null) {
                onderwerp = row.Onderwerp;
                inhoud = row.Inhoud;

            }
            else{
                Validation.AddFormError("Er was geen mail concept geselecteerd");
            }
        }
        else{
            Validation.AddFormError("Er was geen mail concept geselecteerd");
        }
    }

    if(IsPost){
        Validation.RequireField("onderwerp", "De mail moet een onderwerp gegeven worden");
        Validation.RequireField("inhoud", "Inhoud is vereist");
        Validation.RequireField("mailId", "Er is geen mailId doorgestuurd");

        onderwerp = Request.Form["Onderwerp"];
        inhoud = Request.Form["Inhoud"];
        mailId = Request.Form["MailId"];

        if(Validation.IsValid()){
            var db = Database.Open("ComeniusCarrousel");
            var updateCommand = "UPDATE Mail SET Onderwerp=@0, Inhoud=@1 WHERE MailId=@2";
            db.Execute(updateCommand, onderwerp, inhoud, mailId);
            Response.Redirect("~/Decaan/Mail/Mailoverzicht.cshtml");
        }

        if(IsPost && !Request["buttonDelete"].IsEmpty()){
            var db = Database.Open("ComeniusCarrousel");
            var deleteCommand = "DELETE FROM Mail WHERE MailId = @2";
            db.Execute(deleteCommand, mailId);
            Response.Redirect("~/Decaan/Mail/MailOverzicht.cshtml");
        }
    }
}

<body>
    @Html.ValidationSummary()
  <form method="post">

      <p><label for="onderwerp">Onderwerp:</label>
         <input type="text" name="onderwerp" value="@onderwerp" /></p>

      <p><label for="inhoud">Inhoud:</label>
         <input type="text" name="inhoud" value="@inhoud" /></p>

      <input type="hidden" name="mailid" value="@mailId" />

      <p><input type="submit" name="buttonSubmit" value="Mail Veranderingen opslaan" /></p>
      <p><input type="submit" name="buttonDelete" value="Mail Verwijderen" /></p>
  </form>
  <p><a href="~/Decaan/Mail/MailOverzicht.cshtml">Terug naar MailOverzicht</a></p>
</body>
