@* 
    Permissies: Admin, Decaan
    Te bereiken van: _Layout
    Linkt door naar: Decaan/Mail/MailOverzicht, Decaan/Mail/MailBevestiging
    Beschrijving: Weergeeft de te verzenden e-mail, de verzender heeft op deze pagina de optie om de onvangers te selecteren op relevante eigenschappen, op deze manier kan bijvoorbeeld een herinnerings mail verzend worden naar iedereen die zich nog niet aangemeld heeft.
*@

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Mail verzenden";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    int id = Convert.ToInt16(Request.QueryString["id"]);
    MailOntvangerRepo.MailOntvanger userInts = MailOntvangerRepo.GetMailOntvanger(id);
    
    var onderwerp = "";
    var inhoud = "";
    var mailId = "";
    var ontvanger = "";

    if(!IsPost){
        if(!Request.QueryString["MailId"].IsEmpty() && Request.QueryString["MailId"].IsInt()) {
            mailId = Request.QueryString["MailId"];
            var db = Database.Open("ComeniusCarrousel");
            var dbCommand = "SELECT * FROM Mail WHERE MailId = @0";
            var row = db.QuerySingle(dbCommand, mailId);

            if(row != null) {
                onderwerp = row.Onderwerp;
                inhoud = row.Inhoud;

            }
            else{
                Validation.AddFormError("Er was geen mail concept geselecteerd");
            }
        }
        else{
            Validation.AddFormError("Er was geen mail concept geselecteerd");
        }
    }

    if(IsPost){
        Validation.RequireField("onderwerp", "De mail moet een onderwerp gegeven worden");
        Validation.RequireField("inhoud", "Inhoud is vereist");
        Validation.RequireField("mailId", "Er is geen mailId doorgestuurd");

        onderwerp = Request.Form["Onderwerp"];
        inhoud = Request.Form["Inhoud"];
        mailId = Request.Form["MailId"];

        foreach(UserId x in MailOntvangers){
            if(RoleId == cbLeerlingen ||RoleId == Decanen ||RoleId == cbDocenten ||Niveau == cbVwoLeerling || Niveau == cbHavoLeerling || Aangemeld == cbAangemeld || Aangemeld == cbNietAangemeld){
                if(RoleID == 4){
                    if(MailVerzorger != null){
                        WebMail.Send(to: MailVerzorger,
                        subject: onderwerp,
                        body: inhoud);
                    }
                }
                WebMail.Send(to: UserName,
                        subject: onderwerp,
                        body: inhoud);
            }
        }
    }
        
}


<!DOCTYPE html>
<body>
  <form method="post" action="MailBevestiging.cshtml">

    <p><label for="onderwerp">Onderwerp:</label>
         <input type="text" name="onderwerp" value="@onderwerp" />
    </p>
      <p><label for="ontvanger">Ontvanger:</label>
         <input type="text" name="ontvanger" />
    </p>
    <p>
        <b>Versturen aan: </b>
        <input type="checkbox" name="cbAangemeld" value="Aangemeld">Aangemelde Leerlingen
        <input type="checkbox" name="cbNietAangemeld" value="NietAangemeld">Niet Aangemelde Leerlingen
        <input type="checkbox" name="cbLeerlingen" value="Leerlingen">Alle Leerlingen
        <input type="checkbox" name="cbDocenten" value="Docenten">Docenten
        <input type="checkbox" name="cbDecanen" value="Decanen">Decanen
        <input type="checkbox" name="cbVwoLeerling" value="VWO">VWO
        <input type="checkbox" name="cbHavoLeerling" value="HAVO">HAVO
        <input type="checkbox" name="cbInstroomleerling" value="Instroomleerling">Instroomleering
    </p>

    <p><label for="inhoud">Inhoud:</label>
         <input type="text" name="inhoud" value="@inhoud" />
    </p>

    <div>
        <input type="submit" value="Submit" />
    </div>
  </form>
</body>