@{
    //Deze pagina is bedoeld om nieuwe mails te maken voor bepaalde onderwerpen (Verzenden Userdata, Reminder voor aanmelden, Verzenden Persoonlijk Rooster). De gemaakte mails zullen verschijnen in de Mail Database en opgehaald worden in MailOverzicht.cshtml, waar ze ook gewijzigd kunnen worden. Ze zullen uiteindelijk op de verzend pagina verzonden kunnen worden aan de juiste doelgroep.

    Layout = "~/_Layout.cshtml";
    Page.Title = "E-Mail toevoegen";

    
    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    /*Validation.RequireField("onderwerp", "Je moet een onderwerp aan de mail even");
    Validation.RequireField("inhoud", "Er moet een inhoud zijn");
    Validation.Add("onderwerp",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 4,
            errorMessage: "Onderwerp must contain at least 4 characters"));
    Validation.Add("inhoud",
        Validator.StringLength(
            maxLength: 4000,
            errorMessage: "Your email cannot contain more than 4000 characters"));*/

    if (IsPost && Request.Form["MailToevoegen"] != null)
    {
        string onderwerp = "";
        string inhoud = "";
        Validation.RequireField("onderwerp", "Geef de mail een onderwerp");
        Validation.RequireField("inhoud", "De Mail heeft een inhoud nodig");

        if(Request.Form["onderwerp"] != null) {onderwerp = Request.Form["onderwerp"];}
        if(Request.Form["inhoud"] != null) {inhoud = Request.Form["inhoud"];}
    
        if(Validation.IsValid())
        {
            MailRepo.MakeMail(inhoud, onderwerp);
            Response.Redirect("~/Decaan/Mail/MailOverzicht");
        }
    }
}

<h2>Nieuw mail concept aanmaken</h2>

<div class="bs-callout bs-callout-default">
    <h4>Let op!</h4>
    In de E-mail mogen variabelen worden gebruikt:<br><br>
    <div class="row">
        <div class="col-md-6">
            <b>Leerlingvariabelen</b><br><br>
            <ul>
                <li>[voornaam]</li>
                <li>[achternaam]</li>
                <li>[klas]</li>
                <li>[leerlingnummer]</li>
                <li>[niveau]</li>
                <li>[talentstroomvak]</li>
                <li>[keuzevakken]</li>
                <li>[rooster]</li>
            </ul><br>
        </div>
        <div class="col-md-6">
            <b>Leraarvariabelen</b><br><br>
            <ul>
                <li>[voornaam]</li>
                <li>[achternaam]</li>
                <li>[vak]</li>
                <li>[rooster]</li>
            </ul><br>
            </div>
    </div>
    Voorbeeld: Beste [voornaam], jouw talentstroomvak is [talentstroomvak].<br><br>
    <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; Leerlingvariabelen kunnen niet gebruikt worden in E-Mails naar leraren en vice versa (met uitzondering van <i>[voornaam]</i>, <i>[achternaam]</i> en <i>[rooster]</i>).
</div>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="onderwerp">Onderwerp</label>
            <input class="form-control" type="text" name="onderwerp">
        </div>
        <div class="form-group">
            <label for="inhoud">Inhoud</label>
            <textarea style="width: 100%; resize: none;" name="inhoud" class="form-control" rows="20"
                  placeholder="Inhoud"
                  maxlength="4000"></textarea>
        </div>

        <button type="submit" id="submit" name="mailToevoegen" class="btn btn-success" style="float: right;">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Toevoegen
        </button>
    </form>
</div>