@* 
    Permissies: Admin, Decaan
    Te bereiken van: _Layout
    Linkt door naar: Decaan/Mail/MailOverzicht, Decaan/Mail/MailBevestiging
    Beschrijving: Weergeeft de te verzenden e-mail, de verzender heeft op deze pagina de optie om de onvangers te selecteren op relevante eigenschappen, op deze manier kan bijvoorbeeld een herinnerings mail verzend worden naar iedereen die zich nog niet aangemeld heeft.
*@

@{
    Layout = "~/_Layout.cshtml";
    
    var onderwerp = "";
    var inhoud = "";
    var mailId = "";
    var ontvanger = "";

    if(!IsPost){
        if(!Request.QueryString["MailId"].IsEmpty() && Request.QueryString["MailId"].IsInt()) {
            mailId = Request.QueryString["MailId"];
            var db = Database.Open("ComeniusCarrousel");
            var dbCommand = "SELECT * FROM Mail WHERE MailId = @0";
            var row = db.QuerySingle(dbCommand, mailId);

            if(row != null) {
                onderwerp = row.Onderwerp;
                inhoud = row.Inhoud;

            }
            else{
                Validation.AddFormError("Er was geen mail concept geselecteerd");
            }
        }
        else{
            Validation.AddFormError("Er was geen mail concept geselecteerd");
        }
    }

    if(IsPost){
        Validation.RequireField("onderwerp", "De mail moet een onderwerp gegeven worden");
        Validation.RequireField("inhoud", "Inhoud is vereist");
        Validation.RequireField("mailId", "Er is geen mailId doorgestuurd");

        onderwerp = Request.Form["Onderwerp"];
        inhoud = Request.Form["Inhoud"];
        mailId = Request.Form["MailId"];
        }
        if(Validation.IsValid())
        {
            var db = Database.Open(App.AuthDataBase);
            var db2 = Database.Open(App.DataBase);
            bool verstuurAan = false;
            
            

            /*var user = db.QuerySingle("SELECT UserName FROM UserProfile WHERE LOWER(UserName) = LOWER(@0)", userName);
            if(user == null)
            {
                db.Execute("INSERT INTO UserProfile (UserName) VALUES (LOWER(@0))", userName);
                
                try
                {
                    var token = WebSecurity.CreateAccount(userName, password, false);
                    var dataId = db.QuerySingle("SELECT UserId FROM UserProfile WHERE LOWER(UserName) = LOWER(@0)", userName);
                    db2.Execute("INSERT INTO Gebruiker (Voornaam, Achternaam, UserId) VALUES (@0,@1,@2)",voornaam, achternaam, dataId.UserId);
                    db2.Execute("INSERT INTO Leerling (UserId, KlasId, Niveau, Leerlingnummer, InstroomLeerling, TalentstroomVak, Aangemeld ) VALUES (@0,@1,@2,@3,@4,@5,@6)",dataId.UserId, klasId, niveau, nummer, "False", talentstroomvak, "False");
                    Roles.AddUserToRole(userName, "Leerling");
                    db.Close();
                    db2.Close();
                    Response.Redirect("~/");
                }
                catch(System.Web.Security.MembershipCreateUserException e)
                {
                    db.Close();
                    db2.Close();
                    ModelState.AddFormError(e.Message);
                }
            }
            else
            {
                ModelState.AddFormError("Gebruiker bestaat al");
            }*/
            db.Close();
            db2.Close();
        }
}


<!DOCTYPE html>
<body>
  <form method="post" action="MailBevestiging.cshtml">

    <p><label for="onderwerp">Onderwerp:</label>
         <input type="text" name="onderwerp" value="@onderwerp" />
    </p>
      <p><label for="ontvanger">Ontvanger:</label>
         <input type="text" name="ontvanger" />
    </p>
    <p>
        <b>Versturen aan: </b>
        <input type="checkbox" name="cbAangemeld" value="Aangemeld">Aangemelde Leerlingen
        <input type="checkbox" name="cbNietAangemeld" value="NietAangemeld">Niet Aangemelde Leerlingen
        <input type="checkbox" name="cbLeerlingen" value="Leerlingen">Alle Leerlingen
        <input type="checkbox" name="cbDocenten" value="Docenten">Docenten
        <input type="checkbox" name="cbDecanen" value="Decanen">Decanen
        <input type="checkbox" name="cbVwoLeerling" value="VwoLeerling">VWO
        <input type="checkbox" name="cbHavoLeerling" value="HavoLeerling">HAVO
        <input type="checkbox" name="cbInstroomleerling" value="Instroomleerling">Instroomleering
    </p>

    <p><label for="inhoud">Inhoud:</label>
         <input type="text" name="inhoud" value="@inhoud" />
    </p>

    <div>
        <input type="submit" value="Submit" />
    </div>
  </form>
</body>