@*
    Permissies: Admin, Decaan
    Te bereiken van: _Layout
    Linkt door naar: Decaan/Mail/MailOverzicht
    Beschrijving: Deze pagina is gemaakt om mails te kunnen wijzigen, zowel het onderwerp als de inhoud. 
    Het idee was om MailWijzigen in deze pagina te mergen.
*@

@{
    Layout = "~/_Layout.cshtml";

    
    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }
    
    var onderwerp = "";
    var inhoud = "";
    var mailId = "";

    if(!IsPost){
        if(!Request.QueryString["MailId"].IsEmpty() && Request.QueryString["MailId"].IsInt()) {
            mailId = Request.QueryString["MailId"];
            var db = Database.Open("ComeniusCarrousel");
            var dbCommand = "SELECT * FROM Mail WHERE MailId = @0";
            var row = db.QuerySingle(dbCommand, mailId);

            if(row != null) {
                onderwerp = row.Onderwerp;
                inhoud = row.Inhoud;

            }
            else{
                Validation.AddFormError("Er was geen mail concept geselecteerd");
            }
        }
        else{
            Validation.AddFormError("Er was geen mail concept geselecteerd");
        }
    }

    if(IsPost && !Request["buttonSubmit"].IsEmpty()){
        Validation.RequireField("onderwerp", "De mail moet een onderwerp gegeven worden");
        Validation.RequireField("inhoud", "Inhoud is vereist");
        Validation.RequireField("mailId", "Er is geen mailId doorgestuurd");

        onderwerp = Request.Form["Onderwerp"];
        inhoud = Request.Form["Inhoud"];
        mailId = Request.Form["MailId"];

        if(Validation.IsValid() ){
            var db = Database.Open("ComeniusCarrousel");
            var updateCommand = "UPDATE Mail SET Onderwerp=@0, Inhoud=@1 WHERE MailId=@2";
            db.Execute(updateCommand, onderwerp, inhoud, mailId);
            db.Close();
            Response.Redirect("~/Decaan/Mail/Mailoverzicht.cshtml");
        }

    if(IsPost && !Request["buttonDelete"].IsEmpty()){

            var db = Database.Open("ComeniusCarrousel");
            var deleteCommand = "DELETE FROM Mail WHERE MailId = @0";
            db.Execute(deleteCommand, mailId);
            db.Close();
            Response.Redirect("~/Decaan/Mail/MailOverzicht.cshtml");
        }
    }
}

<body>
    @Html.ValidationSummary()
  <form method="post">

      <p><label for="onderwerp">Onderwerp:</label>
         <input type="text" name="onderwerp" value="@onderwerp" /></p>

      <p><label for="inhoud">Inhoud</label>
         
      
      <textarea style="width: 100%; resize: none; padding: 0px" name="inhoud" class="form-control" rows="20"
                  
                  maxlength="4000">@inhoud</textarea>

      <input type="hidden" name="mailid" value="@mailId" />
          </p>

      <button type="submit" id="submit" name="buttonSubmit" class="btn btn-success" style="float: right;">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Wijzigen
        </button>
  </form>
</body>
