@* 
    Permissies: Admin, Decaan
    Te bereiken van: _Layout
    Linkt door naar: Decaan/Mail/MailToevoegen, Decaan/Mail/MailVerzenden?MailId=[ID], Decaan/Mail/MailWijzigen?MailId=[ID], Decaan/Mail/MailGegevens
    Beschrijving: Geeft een overzicht van alle (niet-verstuurde) e-mails; geeft de mogelijk om nieuwe e-mails op te stellen, te wijzigen, te versturen of gegevens te wijzigen
*@
@{
    Layout = "~/_Layout.cshtml";

    Page.Title = "E-mail overzicht";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    List<MailRepo.Mail> mails = MailRepo.GetMails();
}

<h2>Mail overzicht</h2>

<a class="btn btn-success" href="~/Decaan/Mail/MailToevoegen.cshtml">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuwe E-mail
</a>


<a class="btn btn-default" href="~/Decaan/Mail/MailGegevens.cshtml">
    <span class="glyphicon glyphicon-wrench"></span>&nbsp; E-mail Account Gegevens
</a>


<table class="table" style="margin-top: 16px;">
    <thead>
    <tr>
        <th colspan="3">Onderwerp</th>
    </tr>
    </thead>
    <tbody>
        @foreach (MailRepo.Mail mail in mails)
        {
        <tr>
            <td>@mail.Onderwerp</td>
            <td><a href="~/Decaan/Mail/MailWijzigen?MailId=@mail.MailId">Wijzig</a></td>
            <td><a href="~/Decaan/Mail/MailVerzenden?MailId=@mail.MailId">Verzenden</a></td>
        </tr>
        }
    </tbody>
</table>