@*
    Permissies: Leraar
    Wordt aangeroepen in: Default
    Linkt door naar: Rooster
    Beschrijving: Hoofd pagina van leraar. Geeft een leraar zijn gegevens
*@
@{
    if (!User.IsInRole("Leraar"))
    {
        Response.Redirect("~/");
    }

    Page.Title = "Home";

    int id = WebSecurity.CurrentUserId;
    LeraarRepo.Leraar leraar = LeraarRepo.GetLeraar(id);
}

<h2>Home</h2>

Welkom, @leraar.Voornaam @leraar.Achternaam (@leraar.UserName), docent @leraar.VoorlichtingVak.<br><br>
<a class="btn btn-default" href="~/Rooster.cshtml">
    <span class="glyphicon glyphicon-user"></span>&nbsp; Volledig rooster
</a>