@*
    Permissies: Leraar
    Wordt aangeroepen in: Default
    Linkt door naar: Rooster
    Beschrijving: Hoofd pagina van leraar. Geeft een leraar zijn gegevens
*@
@{
    if (!User.IsInRole("Leraar"))
    {
        Response.Redirect("~/");
    }

    int id = WebSecurity.CurrentUserId;
    LeraarRepo.Leraar leraar = LeraarRepo.GetLeraar(id);
}

<h3>@leraar.Voornaam @leraar.Achternaam (@leraar.UserName): @leraar.VoorlichtingVak</h3><br>
<a class="btn btn-success" href="~/Rooster.cshtml">
    <span class="glyphicon glyphicon-user"></span>&nbsp; Volledig rooster
</a>