@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "DecaanOverzicht";
    List<Tuple<int, string>> decanen = Repository.GetDecanen();
}

<a class="btn btn-default" href="~/Admin/Decaan/DecaanToevoegen">
    <span class="glyphicon glyphicon-pencil"></span> Nieuwe decaan aanmaken
</a>

<table class="table">
    @foreach (Tuple<int, string> decaan in decanen)
    {
        <tr>
            <td><a href="~/Admin/Decaan/DecaanWijzigen?id=@decaan.Item1">&nbsp; Edit</a></td>
            <td>@decaan.Item2</td>
        </tr>
    }
</table>


