@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Decaan wijzigen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    Tuple<int, string> decaan;
    var user = "";
    int id = Convert.ToInt16(Request.QueryString["id"]);
    decaan = Repository.GetDecaan(id);

    if (decaan == null)
    {
        Validation.AddFormError("Deze decaan bestaat niet.");
    }
    else
    {
        user = decaan.Item2;
    }

    if (IsPost && Request.Form["delete"] != null)
    {
        if (WebMatrix.WebData.WebSecurity.UserExists(user))
        {
            var userRoles = Roles.GetRolesForUser(user);
            if (userRoles.Count() > 0)
            {
                Roles.RemoveUserFromRoles(user, userRoles); // deletes records from webpages_UsersInRoles table
            }
            ((SimpleMembershipProvider)Membership.Provider).DeleteAccount(user); // deletes record from webpages_Membership table
            ((SimpleMembershipProvider)Membership.Provider).DeleteUser(user, true); // deletes record from UserProfile table
        }
    }
 }

@Html.ValidationSummary()
@if (decaan != null)
{
<p>
    <span>Gebruiker:</span>
    <span>@user</span>
</p>
<form method="post" class="form-inline">
    <button type="submit" id="submit" name="delete" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span> Remove
    </button>
</form>
}