@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Decaan overzicht";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    List<Tuple<int, string>> decanen = DecaanRepo.GetDecanen(); // Geeft het ID en username van alle decanen mee
}

<table class="table">
    <thead>
        <tr>
            <th colspan="2">Decaan overzicht</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tuple<int, string> decaan in decanen)
        {
        <tr>  
            <td>@decaan.Item2</td>
            <td>
                <a href="~/Admin/Decaan/DecaanWijzigen?id=@decaan.Item1">Aanpassen</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-default" id="floatRight" href="~/Admin/Decaan/DecaanToevoegen">
    <span class="glyphicon glyphicon-pencil"></span> Nieuwe decaan aanmaken
</a>