@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "DecaanOverzicht";
    
}

<a href="~/Admin/Decaan/DecaanToevoegen">
    <span class="glyphicon glyphicon-pencil"></span> Nieuwe decaan aanmaken
</a>
