@*
    Permissies: Admin
    Te bereiken van: Admin/Decaan/DecaanOverzicht
    Linkt door naar: Admin/Decaan/DecaanOverzicht
    Beschrijving: Vraagt om een mail en wachtwoord en voegt hiermee een gebruiker toe aan de database met decaan permissies
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Decaan toevoegen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    var userName = "";
    var password = "";
    var confirmPassword = "";

    Validation.RequireField("userName", "U moet een gebruiker invullen.");

    Validation.Add("userName",
        Validator.StringLength(
            maxLength: 400,
            errorMessage: "gebruiker kan niet meer dan 400 tekens bevatten"));

    if(IsPost)
    {
        AntiForgery.Validate();
        userName = Request.Form["userName"];
        password = System.Web.Security.Membership.GeneratePassword(15, 1);

        if (!(userName.Contains("@") && userName.Substring(userName.IndexOf("@") + 2).Contains(".")))
        {
            Validation.AddFormError("De mail kan niet juist zijn.");
        }
        if(Validation.IsValid())
        {
            var onderwerp = "Nieuw account Keuzecarroussel";
            var inhoud = "plopkoek";

            DecaanRepo.MakeDecaan(userName, password);
            WebMail.Send(to: userName,
            subject: onderwerp,
            body: inhoud);

            Response.Redirect("~/Admin/Decaan/DecaanOverzicht");
        }
    }
}

<h2>Nieuwe decaan aanmaken</h2>

<div class="col-md-12">
    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary("Account creatie is mislukt, verhelp de fouten en probeer het opnieuw.", excludeFieldErrors: true, htmlAttributes: null)
        <fieldset>
            <div class="form-group">
                <label for="userName">Email adres</label>
                <input type="text" id="userName" name="userName" value="@userName" class="form-control">
                @Html.ValidationMessage("userName")
            </div>
            <div class="from-group" id="floatRight">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp; Toevoegen</button>
            </div>
        </fieldset>
    </form>
</div>