@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Decaan wijzigen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    Tuple<int, string> decaan;
    var user = "";
    int id = Convert.ToInt16(Request.QueryString["id"]);
    decaan = DecaanRepo.GetDecaan(id);

    if (decaan == null)
    {
        Validation.AddFormError("Deze decaan bestaat niet.");
    }
    else
    {
        user = decaan.Item2;
    }


    // Delete de decaan en alles waar de decaan in voor komt.
    if (IsPost && Request.Form["delete"] != null)
    {
        if (WebMatrix.WebData.WebSecurity.UserExists(user))
        {
            DecaanRepo.DeleteDecaan(id, user);
        }
        Response.Redirect("~/Admin/Decaan/DecaanOverzicht");
    }
}

@Html.ValidationSummary()
@if (decaan != null)
{
    <p>
        <span>Gebruiker:</span>
        <span>@user</span>
    </p>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#verwijderDecaanWarning"><span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijder</button>

    <div id="verwijderDecaanWarning" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Waarschuwing</h4>
                </div>
                <div class="modal-body">
                    <p>Weet je zeker dat je <b>@user</b> wil verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" class="form-inline">
                    <button type="submit" id="submit" name="delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijder
        </button>       
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        </form>
                </div>
            </div>

        </div>
    </div>
}