@*
    Permissies: Admin
    Te berijken van: _Layout
    Linkt door naar: Admin/Decaan/DecaanToevoegen, Admin/Decaan/DecaanWijzigen?id=[ID]
    Beschrijving: Geeft een overzicht van alle decanen
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Decaan overzicht";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    List<Tuple<int, string>> decanen = DecaanRepo.GetDecanen(); // Geeft het ID en username van alle decanen mee
}

<h2>Decaan Overzicht</h2>

<a class="btn btn-success" href="~/Admin/Decaan/DecaanToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuwe decaan aanmaken
</a>

<table class="table" style="margin-top: 16px;">
    <thead>
        <tr>
            <th>Gebruikersnaam</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tuple<int, string> decaan in decanen)
        {
        <tr>  
            <td>@decaan.Item2</td>
            <td>
                <a href="~/Admin/Decaan/DecaanWijzigen?id=@decaan.Item1">Verwijderen</a>
            </td>
        </tr>
    }
    </tbody>
</table>