@{
    Layout = "~/_Layout.cshtml";
    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }
    Tuple<int, string> decaan;
    var email = "";
    int id = Convert.ToInt16(Request.QueryString["id"]);
    decaan = Repository.GetDecaan(id);
    if (decaan == null)
    {
        Validation.AddFormError("Deze decaan bestaat niet.");
    }
    else
    {
        email = decaan.Item2;
    }
 }

@Html.ValidationSummary()
@if (decaan != null)
{
<p>
    <span>Email:</span>
    <span>@email</span>
</p>
}