@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Decaan wijzigen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    Tuple<int, string> decaan;
    var user = "";
    int id = Convert.ToInt16(Request.QueryString["id"]);
    decaan = DecaanRepo.GetDecaan(id);

    if (decaan == null)
    {
        Validation.AddFormError("Deze decaan bestaat niet.");
    }
    else
    {
        user = decaan.Item2;
    }


    // Delete de decaan en alles waar de decaan in voor komt.
    if (IsPost && Request.Form["delete"] != null)
    {
        if (WebMatrix.WebData.WebSecurity.UserExists(user))
        {
            var userRoles = Roles.GetRolesForUser(user);
            if (userRoles.Count() > 0)
            {
                Roles.RemoveUserFromRoles(user, userRoles); // deletes records from webpages_UsersInRoles table
            }
            ((SimpleMembershipProvider)Membership.Provider).DeleteAccount(user); // deletes record from webpages_Membership table
            ((SimpleMembershipProvider)Membership.Provider).DeleteUser(user, true); // deletes record from UserProfile table
        }
        Response.Redirect("~/Admin/Decaan/DecaanOverzicht");
    }
}

@Html.ValidationSummary()

<h2>Decaan verwijderen</h2>

@if (decaan != null)
{
    <p>
        <span>Gebruiker:</span>
        <span><b>@user</b></span>
    </p>

    <button type="button" class="btn btn-danger" id="floatRight" data-toggle="modal" data-target="#verwijderWarning"><span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijder</button>

    <div id="verwijderWarning" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Waarschuwing</h4>
                </div>
                <div class="modal-body">
                    <p>Weet je zeker dat je gebruiker <b>@user</b> wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" class="form-inline">
                    <button type="submit" id="submit" name="delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijderen
        </button>       
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        </form>
                </div>
            </div>

        </div>
    </div>
}