@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Klas overzicht";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    List<KlasRepo.Klas> klassen = KlasRepo.GetKlassen();
}

<br>

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-default" href="~/Decaan/Klas/KlasToevoegen">
        <span class="glyphicon glyphicon-pencil"></span> Nieuwe klas aanmaken
    </a>
}

<table class="table">
    @foreach (KlasRepo.Klas klas in klassen)
    {
        <tr>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a href="~/Decaan/Klas/KlasWijzigen?id=@klas.KlasId" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>
                </td>
            }
            <td>@klas.KlasNaam</td>
        </tr>
    }
</table>
