@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Klas toevoegen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    if (IsPost && Request.Form["klasToevoegen"] != null)
    {
        string klasNaam = "";
        Validation.RequireField("klasNaam", "Geef een klasnaam op");

        if(Request.Form["klasNaam"] != null) {klasNaam = Request.Form["klasNaam"];}

        if(Validation.IsValid())
        {
            KlasRepo.MakeKlas(klasNaam);
            Response.Redirect("~/Decaan/Klas/KlasOverzicht");
        }
    }
}

<h2>Nieuwe klas aanmaken</h2>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="klasNaam">Klas</label>
            <input class="form-control" type="text" name="klasNaam">
        </div>
        <button type="submit" id="submit" name="klasToevoegen" class="btn btn-success" style="float: right;">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Toevoegen
        </button>
    </form>
</div>