@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lokaal overzicht";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    List<LokaalRepo.Lokaal> lokalen = LokaalRepo.GetLokalen();
}

<h2>Lokaaloverzicht</h2>

<a class="btn btn-success" href="~/Decaan/Lokaal/LokaalToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuw lokaal aanmaken
</a>

<table class="table" style="margin-top: 16px;">
    <thead>
        <tr>
            <th>Lokaal</th>
            <th>Capaciteit</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LokaalRepo.Lokaal lokaal in lokalen)
        {    
        <tr>
            <td>
                <a href="~/Decaan/Lokaal/LokaalWijzigen?id=@lokaal.LokaalId" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Verwijderen
                </a>
            </td>
            <td>@lokaal.LokaalNaam</td>
            <td>@lokaal.Capaciteit</td>
            <td><a href="~/Decaan/Lokaal/LokaalWijzigen?id=@lokaal.LokaalId">Wijzig</a></td>
        </tr>
        }
    </tbody>
</table>