@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lokaal overzicht";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    if (IsPost && Request.Form["lokaalToevoegen"] != null)
    {
        string lokaalNaam = "";
        int capaciteit = -1;
        Validation.RequireField("lokaalNaam", "Geef een lokaalnaam op");
        Validation.RequireField("capaciteit", "Geef de capaciteit van het lokaal aan");

        if(Request.Form["lokaalNaam"] != null) {lokaalNaam = Request.Form["lokaalNaam"];}
        if(Request.Form["capaciteit"] != "") {capaciteit = Convert.ToInt16(Request.Form["capaciteit"]);}
    
        if(Validation.IsValid())
        {
            LokaalRepo.MakeLokaal(lokaalNaam, capaciteit);
        }
    }
}

<form method="post" class="form-inline">
    @Html.ValidationSummary()
    <input type="text" name="lokaalNaam">
    <input type="number" name="capaciteit" min="1" value="30">
    <button type="submit" id="submit" name="lokaalToevoegen" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Submit
    </button>
</form>