@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lokaal toevoegen";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    if (IsPost && Request.Form["lokaalToevoegen"] != null)
    {
        string lokaalNaam = "";
        int capaciteit = -1;
        Validation.RequireField("lokaalNaam", "Geef een lokaalnaam op");
        Validation.RequireField("capaciteit", "Geef de capaciteit van het lokaal aan");

        if(Request.Form["lokaalNaam"] != null) {lokaalNaam = Request.Form["lokaalNaam"];}
        if(Request.Form["capaciteit"] != "") {capaciteit = Convert.ToInt16(Request.Form["capaciteit"]);}

        if(Validation.IsValid())
        {
            LokaalRepo.MakeLokaal(lokaalNaam, capaciteit);
            Response.Redirect("~/Decaan/Lokaal/LokaalOverzicht");
        }
    }
}

<h2>Nieuw lokaal aanmaken</h2>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="lokaalNaam">Naam lokaal</label>
            <input class="form-control" type="text" name="lokaalNaam">
        </div>
        <div class="form-group">
            <label for="capaciteit">Capaciteit</label>
            <input class="form-control" type="number" name="capaciteit" min="1" value="30">
        </div>

        <button type="submit" id="submit" name="lokaalToevoegen" class="btn btn-success" style="float: right;">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Toevoegen
        </button>
    </form>
</div>