@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lokaal wijzigen";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    int id = Convert.ToInt16(Request.QueryString["id"]);
    LokaalRepo.Lokaal lokaal = LokaalRepo.GetLokaal(id);

    if (lokaal == null)
    {
        Validation.AddFormError("Dit lokaal bestaat niet.");
    }

    if (IsPost && Request.Form["delete"] != null)
    {
        VakRepo.DeleteVak(id);
        Response.Redirect("~/Decaan/Vak/VakOverzicht");
    }
}

@Html.ValidationSummary()
@if (lokaal != null)
{
    <p>
        <span>Lokaal:</span>
        <span>@lokaal.LokaalNaam</span>
    </p>
    <form method="post" class="form-inline">
        <button type="submit" id="submit" name="delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
    </form>
}
