@*
    Permissies: Admin, Decaan
    Te bereiken van: _Layout
    Linkt door naar: Decaan/Lokaal/LokaalToevoegen, Decaan/Lokaal/LokaalWijzigen?id=[ID]
    Beschrijving: Geeft een overzicht van alle lokalen
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lokaal overzicht";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    List<LokaalRepo.Lokaal> lokalen = LokaalRepo.GetLokalen();
}

<h2>Lokaaloverzicht</h2>

<a class="btn btn-success" href="~/Decaan/Lokaal/LokaalToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuw lokaal aanmaken
</a>
</br>
<div class="input-group" id="floatRight">
    <input type="text" class="form-control" id="search" placeholder="Gegevens zoeken" style="margin: 4px 4px 4px 4px;">
</div>
<table class="table" style="margin-top: 16px;">
    <thead>
        <tr>
            <th>Lokaal</th>
            <th>Capaciteit</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody id="table">
        @foreach (LokaalRepo.Lokaal lokaal in lokalen)
        {    
        <tr>
            <td>@lokaal.LokaalNaam</td>
            <td>@lokaal.Capaciteit</td>
            <td><a href="~/Decaan/Lokaal/LokaalWijzigen?id=@lokaal.LokaalId">Verwijderen</a></td>
        </tr>
        }
    </tbody>
</table>