@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Lokaal overzicht";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    List<LokaalRepo.Lokaal> lokalen = LokaalRepo.GetLokalen();
}

<a class="btn btn-default" href="~/Decaan/Lokaal/LokaalToevoegen">
    <span class="glyphicon glyphicon-pencil"></span> Nieuw lokaal aanmaken
</a>

<table class="table">
    @foreach (LokaalRepo.Lokaal lokaal in lokalen)
    {
        <tr>
            <td>
                <a href="~/Decaan/Lokaal/LokaalWijzigen?id=@lokaal.LokaalId" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
            </td>
            <td>@lokaal.LokaalNaam</td>
            <td>@lokaal.Capaciteit</td>
        </tr>
    }
</table>