@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic);

html {
    position: relative;
    min-height: 100%;
}

/*Colors*/
.comeniusblauw {
    background-color: #0085BC !important;
}

.comeniusgroen {
    background-color: #C7D41B !important;
}

.glyphicon {
    color: #585858;
}

label {
    font-weight: normal;
}

::selection {
    background-color: rgba(0, 0, 0, 0.25);
}

.page-header {
    border-bottom: 0px solid #eee;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 124px;
    padding: 24px 0px 12px 0px;
    background-color: rgba(0, 0, 0, 0.10);
    margin-top: 100px;
    position: absolute;

}

#floatLeft {
    float: left;
}

#floatRight {
    float: right;
}

body {
    background-color: #0085BC;
    color: #fff;
    font-family: Arvo;
    padding-bottom: 124px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #969696;
    background-color: #eeeeee;
    background-image: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e7e6e6;
}

#content {
    background: #fff;
    box-shadow: 0px 2px 10px rgba(20, 20, 20, 0.50);
    color: #585858;
    border-style: solid;
    border-width: 0px 0px 12px 0px;
    border-color: #C7D41B;
    width: 800px;
    margin-top: 4%;
    text-align: justify;
    padding-bottom: 15px;
    padding-top: 15px;
}

@media (max-width: 800px) {
    #content {
        width: 100%;
    }
}

.btn:hover, .btn:focus {
    border: 0;
    outline: none;
    color: #fff;
}

.btn:active, .btn:active:focus {
    border: 0;
    border-radius: 0;
    outline: none;
    color: #fff;
}

.btn {
    border-radius: 0px;
    font-weight: normal;
}

.btn-default {
    background-image: none;
    background-color: #0085BC;
    border-width: 0px;
    color: #fff;
    text-shadow: none;
}

.btn-default:hover, .btn-default:focus {
    background-color: #00a0e2;
    color: #fff;
    text-shadow: none;
}

.btn-default:active, .btn-default:active:focus {
    background-color: #00a0e2;
    color: #fff;
    text-shadow: none;
}

.btn-success {
    background-image: none;
    background-color: #5cb85c;
    border-width: 0px;
    color: #fff;
    text-shadow: none;
}

.btn-success:hover, .btn-success:focus {
    background-color: #62ca62;
    color: #fff;
    text-shadow: none;
}

.btn-success:active, .btn-succes:active:focus {
    background-color: #62ca62;
    color: #fff;
    text-shadow: none;
}

.btn .glyphicon {
    color: #fff;
}

#succesText {
    color: #5cb85c;
}

#dangerText {
    color: #d9534f;
}

.panel {
    border-radius: 0px;
}

.panel-heading {
    border-radius: 0px;
}

.panel-default {
    border-color: #585858;
}

.panel-default .panel-heading {
    background-image: none;
    background-color: #585858;
    color: #fff;
}

.panel-primary {
    border-color: #1976D2;
}

.panel-primary .panel-heading {
    background-image: none;
    background-color: #0085BC;
}

#table-nostripes > thead > tr > th, #table-nostripes > tbody > tr > th, #table-nostripes > tfoot > tr > th, #table-nostripes > thead > tr > td, #table-nostripes > tbody > tr > td, #table-nostripes > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}

.table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    }


/*.head { background-color: #969696; font-weight: bold; color: #FFF; }
.grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; }
.alt { background-color: #E8E8E8; color: #000; }
.selected {background-color:Yellow;}
span.caption {width:100px;}
span.dataDisplay {font-weight:bold;}

.field-validation-error {
      font-weight:bold;
      color: White;
      background-color: #8b3b3b;
     }
    .validation-summary-errors{
      color: White;
      background-color:#8b3b3b;
      font-weight:bold;
      margin:12px;
    }

      .validation-summary-errors{
        color: White;
      font-weight:bold;
      margin:12px;
      }*/