@*
    Permissies: Admin
    Te bereiken van: Default(Decaan/_Decaan)
    Linkt door naar: Default
    Beschrijving: Verwijdert een leerling
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Leerling wijzigen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    LeerlingRepo.Leerling leerling;
    var user = "";
    int id = Convert.ToInt16(Request.QueryString["id"]);
    leerling = LeerlingRepo.GetLeerling(id);

    if (leerling == null)
    {
        Validation.AddFormError("Deze leerling bestaat niet.");
    }
    else
    {
        user = leerling.UserName;
    }


    // Delete de leerling en alles waar de leerling in voor komt.
    if (IsPost && Request.Form["delete"] != null)
    {
        if (WebMatrix.WebData.WebSecurity.UserExists(user))
        {
            LeerlingRepo.DeleteLeerlingen(id, user);
        }
        Response.Redirect("~/");
    }
}

@Html.ValidationSummary()

<h2>Leerling verwijderen</h2>

@if (leerling != null)
{
    <p>
        <span>Gebruiker:</span>
        <span><b>@user</b></span>
    </p>
    <form method="post" class="form-inline">

        <button type="button" class="btn btn-danger" id="floatRight" data-toggle="modal" data-target="#verwijderWarning"><span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijder</button>

        <div id="verwijderWarning" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Waarschuwing</h4>
                    </div>
                    <div class="modal-body">
                        <p>Weet je zeker dat je leerling <b>@user</b> wilt verwijderen?</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" class="form-inline">
                            <button type="submit" id="submit" name="delete" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijderen
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </form>
}