@*
    Permissies: Admin
    Te bereiken van: Default(Decaan/_Decaan)
    Linkt door naar: ~
    Beschrijving: Geeft een tekstveld om leerling details in te verwerken om gebruikers toe te voegen aan de database met leerling permissies
        leerlingen worden ingevuld in gegeven volgorde met: 
        Voornaam|Achternaam|Leerlingnummer|Mail|Wachtwoord|Klas|Niveau|Talentstroom vak|Instroomleerling(True/False)
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Leerlingen toevoegen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    var leerlingenInvoer = "";

    if(IsPost && Request.Form["leerlingenToevoegen"] != null)
    {
        leerlingenInvoer = Request.Form["leerlingenInvoer"];
        if (leerlingenInvoer == null)
        {
            Validation.AddFormError("Vul iets in");
        }
        else
        {
            string[] leerlingen = Repository.SplitLeerlingen(leerlingenInvoer);
            // bij iedere leerling wordt elke input gevalideerd voordat de leerling aangemaakt wordt. Treedt er een fout op dan gaat hij daarna wel door met de volgende leerling.
            for(int i = 0; i < leerlingen.Length; i++)
            {
                string[] leerling = Repository.SplitLeerling(leerlingen[i]);
                if (leerling.Length != 9)
                {
                    Validation.AddFormError("Het aantal waardes bij leerling " + (i+1) + " is onjuist.");
                }
                else
                {
                    string voornaam = leerling[0];
                    string achternaam = leerling[1];

                    int leerlingnummer = -1;
                    bool result = Int32.TryParse(leerling[2], out leerlingnummer);
                    if (!result)
                    {
                        Validation.AddFormError("Het leerlingnummer van leerling " + (i+1) + " bevat niet alleen nummers.");
                    }

                    string mail = leerling[3];
                    if (!(mail.Contains("@") || mail.Substring(mail.IndexOf("@") + 2).Contains(".")) || mail.Length > 400)
                    {
                        Validation.AddFormError("De mail van leerling " + (i+1) + " kan niet juist zijn.");
                    }

                    string wachtwoord = leerling[4];
                    if (wachtwoord.Length < 6)
                    {
                        Validation.AddFormError("Het wachtwoord van leerling " + (i+1) + " is te kort. (min 6)");
                    }

                    string niveau = leerling[6];
                    if (!(niveau.ToLower() == "havo" || niveau.ToLower() == "vwo"))
                    {
                        Validation.AddFormError("Het niveau van leerling " + (i+1) + " bestaat niet.");
                    }

                    string klas = leerling[5];
                    int klasId = -1;
                    bool validateKlas = KlasRepo.ValidateKlas(klas);
                    if (validateKlas == false)
                    {
                        Validation.AddFormError("De klas van leerling " + (i+1) + " bestaat niet.");
                    }
                    else
                    {
                        klasId = KlasRepo.GetKlasId(klas);
                    }

                    string vak = leerling[7];
                    bool validateVak = VakRepo.ValidateVak(vak, niveau);

                    string instroomleerling = leerling[8];
                    if (validateVak == false && instroomleerling.ToLower() == "false")
                    {
                        Validation.AddFormError("Het vak van leerling " + (i+1) + " klopt niet.");
                    }
                    if (!(instroomleerling.ToLower() == "false" || instroomleerling.ToLower() == "true"))
                    {
                        Validation.AddFormError("De waarde bij instroomleerling van leerling " + (i+1) + " is onjuist.");
                    }

                    if (Validation.IsValid())
                    {
                        LeerlingRepo.MakeLeerling(mail, wachtwoord, voornaam, achternaam, klasId, niveau, leerlingnummer, instroomleerling, vak, i);
                    }
                }
            }
        }
    }
}

<div class="col-md-12">
    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary("Er is iets mislukt, voer zo nodig de leerlingen met problemen opniew in in en probeer het nog een keer.", excludeFieldErrors: true, htmlAttributes: null)
        <textarea style="width: 100%; resize: none; margin: 0 5px; padding: 0px" name="leerlingenInvoer" class="form-control col-md-12" rows="20"
                  placeholder="Voornaam|Achternaam|Leerlingnummer|Mail|Wachtwoord|Klas|Niveau|Talentstroom vak|Instroomleerling(True/False)"
                  maxlength="4000"></textarea>
        <button type="submit" id="submit" name="leerlingenToevoegen" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Toevoegen
        </button>
    </form>
</div>

