@*
    Permissies: Admin
    Te bereiken van: Default(Decaan/_Decaan)
    Linkt door naar: ~
    Beschrijving: Geeft een tekstveld om leerling details in te verwerken om gebruikers toe te voegen aan de database met leerling permissies
        leerlingen worden ingevuld in gegeven volgorde met: 
        Voornaam|Achternaam|Leerlingnummer|Mail|Klas|Niveau|Talentstroom vak|Instroomleerling(True/False)
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Leerlingen toevoegen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    var leerlingenInvoer = "";

    if(IsPost && Request.Form["leerlingenToevoegen"] != null)
    {
        leerlingenInvoer = Request.Form["leerlingenInvoer"];
        if (leerlingenInvoer == null)
        {
            Validation.AddFormError("Vul iets in");
        }
        else
        {
            string[] leerlingen = Repository.SplitLeerlingen(leerlingenInvoer);
            // bij iedere leerling wordt elke input gevalideerd voordat de leerling aangemaakt wordt. Treedt er een fout op dan gaat hij daarna wel door met de volgende leerling.
            for(int i = 0; i < leerlingen.Length; i++)
            {
                string[] leerling = Repository.SplitLeerling(leerlingen[i]);
                if (leerling.Length != 8)
                {
                    Validation.AddFormError("Het aantal waardes bij leerling " + (i+1) + " is onjuist.");
                }
                else
                {
                    string voornaam = leerling[0];
                    string achternaam = leerling[1];

                    int leerlingnummer = -1;
                    bool result = Int32.TryParse(leerling[2], out leerlingnummer);
                    if (!result)
                    {
                        Validation.AddFormError("Het leerlingnummer van leerling " + (i+1) + " bevat niet alleen nummers.");
                    }

                    string mail = leerling[3];
                    if (!(mail.Contains("@") && mail.Substring(mail.IndexOf("@") + 2).Contains(".")) && mail.Length > 400)
                    {
                        Validation.AddFormError("De mail van leerling " + (i+1) + " kan niet juist zijn.");
                    }

                    string wachtwoord = System.Web.Security.Membership.GeneratePassword(15, 1);

                    string niveau = leerling[5];
                    if (!(niveau.ToLower() == "havo" || niveau.ToLower() == "vwo"))
                    {
                        Validation.AddFormError("Het niveau van leerling " + (i+1) + " bestaat niet.");
                    }

                    string klas = leerling[4].ToUpper();
                    int klasId = -1;
                    bool validateKlas = KlasRepo.ValidateKlas(klas);
                    if (validateKlas == false)
                    {
                        Validation.AddFormError("De klas van leerling " + (i+1) + " bestaat niet.");
                    }
                    else
                    {
                        klasId = KlasRepo.GetKlasId(klas);
                    }

                    string vak = leerling[6];
                    bool validateVak = VakRepo.ValidateVak(vak, niveau);

                    string instroomleerling = leerling[7];
                    if (validateVak == false && instroomleerling.ToLower() == "false")
                    {
                        Validation.AddFormError("Het vak van leerling " + (i+1) + " klopt niet.");
                    }
                    if (!(instroomleerling.ToLower() == "false" || instroomleerling.ToLower() == "true"))
                    {
                        Validation.AddFormError("De waarde bij instroomleerling van leerling " + (i+1) + " is onjuist.");
                    }

                    // verstuur een mail met de inlog gegevens en voeg een leerling toe aan de database
                    if (!WebMatrix.WebData.WebSecurity.UserExists(mail))
                    {
                        if (Validation.IsValid())
                        {
                            Repository.AccountMail(mail, wachtwoord);

                            LeerlingRepo.MakeLeerling(mail, wachtwoord, voornaam, achternaam, klasId, niveau, leerlingnummer, instroomleerling, vak, i);
                        }
                    }
                    else
                    {
                        Validation.AddFormError("De mail van leerling " + (i+1) + " is al in gebruik.");
                    }
                }
            }
        }
    }
}

<h2>Leerlingen toevoegen</h2>

<div class="bs-callout bs-callout-default">
    <h4>Let op!</h4>
    Iedere leerling dient PER regel worden ingevoerd volgens de volgende structuur:<br>
    <i>Voornaam|Achternaam|Leerlingnummer|Mail|Klas|Niveau|Talentstroomvak|Instroomleerling(True/False)</i><br><br>
    Voorbeeld: Johan|de Wit|301812|johandewit@provider.com|H3A|HAVO|Wiskunde|False<br><br>
    <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; Sla altijd de invoer op in een tekstbestand voor het toevoegen!
</div>

<div class="col-md-12" style="margin-top: 16px;">
    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary("Er is iets mislukt, voer zo nodig de leerlingen met problemen opniew in in en probeer het nog een keer.", excludeFieldErrors: true, htmlAttributes: null)
        <textarea style="width: 100%; resize: none; margin-bottom: 16px;" name="leerlingenInvoer" class="form-control col-md-12" rows="20" placeholder="Voornaam|Achternaam|Leerlingnummer|Mail|Klas|Niveau|Talentstroomvak|Instroomleerling(True/False)" maxlength="4000"></textarea>


        <button type="button" class="btn btn-success" id="floatRight" data-toggle="modal" data-target="#toevoegWarning"><span class="glyphicon glyphicon-plus"></span>&nbsp; Toevoegen</button>

        <div id="toevoegWarning" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Waarschuwing</h4>
                    </div>
                    <div class="modal-body">
                        <p>Weet je zeker dat je deze leerlingen wilt toevoegen?</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" class="form-inline">
                            <button type="submit" id="submit" name="leerlingenToevoegen" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Toevoegen
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

