@*Wordt standaard zo goed als overal aan geroepen*@
@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link rel="icon" href="~/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
        <link href="~/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
        <link href="~/css/mainstyle.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body style="font-size: 16px;">
        <div class="page-header">
            <div class="container">
                <div id="floatLeft">
                    <img src="~/Logo Comenius SVG Grayscale.svg" alt="Comenius Logo" style="width: 320px; margin-top: 24px;"/>
                </div>
                <div id="floatRight">
                    <a href="~/" style="color: #fff;">
                        <span class="glyphicon glyphicon-home" style="color:#fff"></span>&nbsp; Main&nbsp;
                    </a>
                    @if(WebSecurity.IsAuthenticated)
                    {
                        <a href="~/About" style="color: #fff;">
                            <span class="glyphicon glyphicon-question-sign" style="color:#fff"></span>&nbsp; About&nbsp;
                        </a>
                        <a href="~/User_Management/Logout?ReturnUrl=~@Request.Url.AbsolutePath" style="color: #fff;">
                            <span class="glyphicon glyphicon-log-out" style="color:#fff"></span>&nbsp; Log out&nbsp;
                        </a>
}
else
{
                        <a href="~/User_Management/Login?ReturnUrl=~@Request.Url.AbsolutePath" style="color: #fff;">
                            <span class="glyphicon glyphicon-log-in" style="color:#fff"></span>&nbsp; Log in&nbsp;
                        </a>
                    }
                </div>
            </div>
        </div>
        </div>
        <div class="container" id="content">
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="container">
                <div id="floatLeft">
                    <ul style="list-style-type:none">
                        <li>© @DateTime.Now.Year - Group Default</li>
                    </ul>
                </div>
                <div id="floatRight">
                    <ul style="list-style-type:none">
                        <li><a href="http://google.com" style="color: #fff">Link 1</a></li>
                        <li><a href="http://google.com" style="color: #fff">Link 2</a></li>
                        <li><a href="http://google.com" style="color: #fff">Link 3</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>