@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link rel="icon" href="favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
        <link href="~/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
        <!--<link href="~/css/mainstyle.css" rel="stylesheet" type="text/css"/>-->
    </head>
    <body>
        <div class="page-header">
                <div class="container">
                    <div id="headerLeft"><h1>Logo</h1></div>
                    <div id="headerRight">
                        @if(!WebSecurity.IsAuthenticated){<a href="~/User_Management/Logout?ReturnUrl=~@Request.Url.AbsolutePath"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>}
                    </div>
                </div>
            </div>
        <div class="container">
            @RenderBody()
        </div>
        <footer class="footer"><div class="container"><p>Margin/padding moet hier nog gefixt worden xx</p></div></footer>
    </body>
</html>
