@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Leraar wijzigen";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    LeraarRepo.Leraar leraar;
    var user = "";
    int id = Convert.ToInt16(Request.QueryString["id"]);
    leraar = LeraarRepo.GetLeraar(id);

    if (leraar == null)
    {
        Validation.AddFormError("Deze leraar bestaat niet.");
    }
    else
    {
        user = leraar.UserName;
    }


    // Delete de leraar en alles waar de leraar in voor komt.
    if (IsPost && Request.Form["delete"] != null)
    {
        if (WebMatrix.WebData.WebSecurity.UserExists(user))
        {
            LeraarRepo.DeleteLeraar(id, user);
        }
        Response.Redirect("~/Decaan/Leraar/LeraarOverzicht");
    }
 }

@Html.ValidationSummary()
@if (leraar != null)
{
    <p>
        <span>Gebruiker:</span>
        <span>@user</span>
    </p>
    <form method="post" class="form-inline">
        <button type="submit" id="submit" name="delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
    </form>
}