@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Decaan overzicht";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    List<LeraarRepo.Leraar> leraren = LeraarRepo.GetLeraren(); // Geeft het ID en username van alle decanen mee
}

<ul class="nav nav-tabs">
    <li><a href="~/">Home</a></li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Overzichten <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @if (User.IsInRole("Admin"))
            {
                <li><a href="~/Admin/Decaan/DecaanOverzicht">Decaanoverzicht</a></li>
            }
            <li><a href="~/Decaan/Lokaal/LokaalOverzicht.cshtml">Lokaaloverzicht</a></li>
            <li><a href="~/Decaan/Vak/VakOverzicht.cshtml">Vakkenoverzicht</a></li>
            <li class="active"><a href="~/Decaan/Leraar/LeraarOverzicht.cshtml">Lerarenoverzicht</a></li>
            <li><a href="~/Decaan/Mail/MailOverzicht.cshtml">E-mail overzicht</a></li>
        </ul>
    </li>
</ul>

<br>

<a class="btn btn-default" href="~/Decaan/Leraar/LeraarToevoegen">
    <span class="glyphicon glyphicon-pencil"></span> Nieuwe leraar aanmaken
</a>

<table class="table">
    @foreach (LeraarRepo.Leraar leraar in leraren)
    {
        <tr>
            <td>
                <a href="~/Admin/Decaan/DecaanWijzigen?id=@leraar.UserId" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
            </td>
            <td>@leraar.Voornaam</td> <td>@leraar.Achternaam</td>
        </tr>
    }
</table>