@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Decaan overzicht";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    List<LeraarRepo.Leraar> leraren = LeraarRepo.GetLeraren(); // Geeft het ID en username van alle decanen mee
}

<a class="btn btn-default" href="~/Decaan/Leraar/LeraarToevoegen">
    <span class="glyphicon glyphicon-pencil"></span> Nieuwe leraar aanmaken
</a>

<table class="table">
    @foreach (LeraarRepo.Leraar leraar in leraren)
    {
        <tr>
            <td>
                <a href="~/Admin/Decaan/DecaanWijzigen?id=@leraar.UserId" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
            </td>
            <td>@leraar.Voornaam</td> <td>@leraar.Achternaam</td>
        </tr>
    }
</table>