@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Leraar overzicht";

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~/");
    }

    List<LeraarRepo.Leraar> leraren = LeraarRepo.GetLeraren(); // Geeft het ID en username van alle decanen mee
}

<h2>Lerarenoverzicht</h2>

<a class="btn btn-success" href="~/Decaan/Leraar/LeraarToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuwe leraar aanmaken
</a>

<table class="table" style="margin-top: 16px;">
    <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LeraarRepo.Leraar leraar in leraren)
        {
        <tr>
            <td>@leraar.Voornaam</td>
            <td>@leraar.Achternaam</td>
            <td><a href="~/Decaan/Leraar/LeraarWijzigen?id=@leraar.UserId">Verwijderen</a></td>
        </tr>
        }
    </tbody>
</table>