@{
    Page.Title= "Keuze";
    Layout = "~/_Layout.cshtml";
    int id = Convert.ToInt16(Request.QueryString["id"]);
    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }
}

@RenderPage("~/Leerling/_LeerlingDetails.cshtml")

@if (User.IsInRole("Admin"))
{
    <a href="~/Admin/Leerling/LeerlingWijzigen?id=@id" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Verwijderen
    </a>
}