@*
    Permissies: Admin, Decaan(gedeeltelijk)
    Te berijken van: Default(Decaan/_Decaan)
    Roept aan: Leerling/_LeerlingDetails
    Linkt door naar: [Alleen admin]: Admin/Leerling/LeerlingWijzigen?id=[ID]
    Beschrijving: Geeft de details van een leerling weer
*@
@{
    Page.Title= "Keuze";
    Layout = "~/_Layout.cshtml";
    int id = Convert.ToInt16(Request.QueryString["id"]);
    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }
}

@RenderPage("~/Leerling/_LeerlingDetails")

@if (User.IsInRole("Admin"))
{
    <a href="~/Admin/Leerling/LeerlingWijzigen?id=@id" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span> Verwijderen
    </a>
}