@*Wordt aangeroepen in default*@
@{
    
}

@RenderPage("~/Leerling/_LeerlingDetails.cshtml")

<a href="~/Leerling/Keuze" class="btn btn-default" role="button" id="floatRight">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Voer keuzevakken in
</a>