@*
    Permissies: Leerling
    Wordt aangeroepen in: Default
    Roept aan: Leerling/_LeerlingDetails
    Linkt door naar: Leerling/Keuze, Leerling/EigenRooster
    Beschrijving: Hoofd pagina van leerling. Geeft de details van een leerling weer
*@
@{
    int id = User.IsInRole("Leerling") == true ? WebSecurity.CurrentUserId : -1;
    LeerlingRepo.Leerling leerling = LeerlingRepo.GetLeerling(id);
}

@RenderPage("~/Leerling/_LeerlingDetails.cshtml")

@if (leerling.Niveau.ToLower() == "havo")
{
    <a href="~/Leerling/Keuze" class="btn btn-default" role="button" id="floatRight">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp; Voer keuzevakken in
    </a>
}
<a href="~/Leerling/EigenRooster" class="btn btn-default" role="button" id="floatLeft">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Rooster
</a>