@{
    Page.Title= "Keuze";
    Layout = "~/_Layout.cshtml";
    List<VakRepo.Vak> vakken = VakRepo.GetVakken();
}

<select>
    @foreach(VakRepo.Vak vak in vakken)
    {
        <option value="@vak.VakId">@vak.VakNaam</option>
    }
</select>