@{
    Page.Title= "Keuze";
    Layout = "~/_Layout.cshtml";

    int id = WebSecurity.CurrentUserId;
    LeerlingRepo.Leerling leerling = LeerlingRepo.Leerling.GetLeerling(id);

    List<VakRepo.Vak> vakken = VakRepo.GetVakken(leerling.Niveau);
    string error = "";

    if(IsPost && Request.Form["submitKeuze"] != null)
    {
        string[] keuzeVakArr = new string[4] {Request.Form["keuzevak_0"], Request.Form["keuzevak_1"],
                                              Request.Form["keuzevak_2"], Request.Form["keuzevak_3"]};
        int[] aantalMensenArr = new int[4] {Convert.ToInt16(Request.Form["aantalMensen_0"]), Convert.ToInt16(Request.Form["aantalMensen_1"]),
                                            Convert.ToInt16(Request.Form["aantalMensen_2"]), Convert.ToInt16(Request.Form["aantalMensen_3"])};

        if(Validation.IsValid())
        {
            var db = Database.Open(App.DataBase);
            var deleteCommand = "DELETE FROM Keuze WHERE UserId = @0";
            var insertCommand = "INSERT INTO Keuze (UserId, VakId, AantalPersonen) VALUES(@0,@1,@2)";
            db.Execute(deleteCommand, id);

            var groups = keuzeVakArr.GroupBy(v => v);
            foreach(var group in groups)
            {
                if (group.Key != "-" && group.Count() > 1)
                {
                    error = "Er is een fout ontstaan, probeer het nog eens.";
                    db.Execute(deleteCommand, id);
                    db.Close();
                }
            }
            if (error != "Er is een fout ontstaan, probeer het nog eens.")
            {
                for (int i = 0; i < 4; i++)
                {
                    if (keuzeVakArr[i] != "-")
                    {
                        if (!(aantalMensenArr[i] > 3) && !(aantalMensenArr[i] < 1))
                        {
                            db.Execute(insertCommand, id, keuzeVakArr[i], aantalMensenArr[i]);
                        }
                        else
                        {
                            error = "Er is een fout ontstaan, probeer het nog eens.";
                            db.Execute(deleteCommand, id);
                            db.Close();
                            break;
                        }
                    }
                }
                db.Close();
                Response.Redirect("~/");
            }
        }
    }
}

<h4>Vul hier uw keuzes in.</h4>
@Html.Raw(error)
<form method="post" class="form-inline">
    @for(int i = 0; i < 4; i++)
    {
        <p>
            <select name="keuzevak_@i">
                <option value="-"></option>

                @foreach(VakRepo.Vak vak in vakken)
                {
                    <option value="@vak.VakId">@vak.VakNaam</option>
                }
            </select>
            <input type="number" name="aantalMensen_@i" min="1" max="3" value="1">
        </p>
    }
    <button type="submit" id="submit" name="submitKeuze" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Submit
    </button>
</form>