@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Vak overzicht";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    List<VakRepo.Vak> vakken = VakRepo.GetVakken();
}

<h2>Vakoverzicht</h2>

<a class="btn btn-success" href="~/Decaan/Vak/VakToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuw vak aanmaken
</a>

<table class="table" style="margin-top: 16px;">
    <thead>
        <tr>
            <th>Vak</th>
            <th>Niveau</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VakRepo.Vak vak in vakken)
        {
        <tr>
            <td>@vak.VakNaam</td>
            <td>@vak.Niveau</td>
            <td><a href="~/Decaan/Vak/VakWijzigen?id=@vak.VakId">Wijzig</a></td>
        </tr>
    }
    </tbody>
</table>
