@*
    Permissies: Admin, Decaan
    Te bereiken van: Decaan/Vak/VakOverzicht
    Linkt door naar: Decaan/Vak/VakOverzicht
    Beschrijving: Vraagt om een vaknaam en niveau en voegt hiermee een vak toe aan de database
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Vak toevoegen";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    if (IsPost && Request.Form["vakToevoegen"] != null)
    {
        string vakNaam = "";
        string niveau = "";
        Validation.RequireField("vakNaam", "Geef een vaknaam op");
        Validation.RequireField("niveau", "Geef het niveau aan");

        if(Request.Form["vakNaam"] != null) {vakNaam = Request.Form["vakNaam"];}
        if(Request.Form["niveau"] != null) {niveau = Request.Form["niveau"];}
    
        if(Validation.IsValid())
        {
            VakRepo.MakeVak(vakNaam, niveau);
            Response.Redirect("~/Decaan/Vak/VakOverzicht");
        }
    }
}

<h2>Vak aanmaken</h2>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="vakNaam">Naam vak</label>
            <input class="form-control" type="text" name="vakNaam">
        </div>
        <div class="form-group">
            <label for="niveau">Niveau</label>
            <select name="niveau" class="form-control">
                <option value="HAVO">HAVO</option>
                <option value="VWO">VWO</option>
            </select>
        </div>
        <button type="submit" id="submit" name="vakToevoegen" class="btn btn-success" style="float: right;">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Toevoegen
        </button>
    </form>
</div>